# calculating Pearson Correlation Coefficient of Modal Prices and Quantity

In [1]:
import pandas as pd
import numpy as np
import datetime
from datetime import timedelta
import seaborn as sns

In [11]:
data = pd.read_csv("Cleaned_Data2016-17.csv")

In [12]:
df_concat = data[['Unnamed: 0', 'Commodity', 'State', 'Market Center', 'Report Date', 'Modal Prices(in Rs/quintals)', 'Arrival_Tonnes_Calc']]
len(df_concat)

3390595

In [13]:
df_concat.dropna(inplace = True)
len(df_concat)

/Users/PV/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

3002888

In [14]:
df_concat.head()

,Unnamed: 0,Commodity,State,Market Center,Report Date,Modal Prices(in Rs/quintals),Arrival_Tonnes_Calc
1,1,Coffee,Kerala,Kalpetta,20160402,5700.0,10.0
2,2,Coffee,Kerala,Kalpetta,20160404,5700.0,10.0
3,3,Coffee,Kerala,Kalpetta,20160406,5700.0,7.5
4,4,Coffee,Kerala,Kalpetta,20160407,5700.0,8.0
5,5,Coffee,Kerala,Kalpetta,20160408,5700.0,7.5

In [15]:
df = df_concat.groupby(["Commodity", "State", "Market Center"], as_index = False)
df = df.apply(lambda _df: _df.sort_values('Report Date', ascending = True))

#filtering onion data
df1 = df[(df["Commodity"]== 'Onion') ]

In [16]:
df2 = df1[df1["Market Center"] == "Mahuva(Station Road)"]

In [19]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 365 entries, (20114, 2733532) to (20114, 2733897)
Data columns (total 7 columns):
Unnamed: 0                      365 non-null int64
Commodity                       365 non-null object
State                           365 non-null object
Market Center                   365 non-null object
Report Date                     365 non-null int64
Modal Prices(in Rs/quintals)    365 non-null float64
Arrival_Tonnes_Calc             365 non-null float64
dtypes: float64(2), int64(2), object(3)
memory usage: 23.2+ MB

In [24]:
df2.head(7)

               Unnamed: 0 Commodity    State         Market Center  \
20114 2733532     2733532     Onion  Gujarat  Mahuva(Station Road)
      2733533     2733533     Onion  Gujarat  Mahuva(Station Road)
      2733534     2733534     Onion  Gujarat  Mahuva(Station Road)
      2733535     2733535     Onion  Gujarat  Mahuva(Station Road)
      2733536     2733536     Onion  Gujarat  Mahuva(Station Road)
      2733537     2733537     Onion  Gujarat  Mahuva(Station Road)
      2733538     2733538     Onion  Gujarat  Mahuva(Station Road)

               Report Date  Modal Prices(in Rs/quintals)  Arrival_Tonnes_Calc
20114 2733532     20160401                         600.0              13035.7
      2733533     20160401                         600.0              13035.7
      2733534     20160402                         600.0               5978.6
      2733535     20160402                         750.0               5978.6
      2733536     20160405                         600.0               8570.7
      2733537     20160405                         750.0               8570.7
      2733538     20160406                         515.0               9668.5

In [25]:
#import library for calculating Pearson correlation coefficient
from scipy.stats.stats import pearsonr

In [26]:
# Pearson correlation coefficient between Prices and Quantity 
pearsonr(df2["Modal Prices(in Rs/quintals)"], df2["Arrival_Tonnes_Calc"])

(-0.07129043223056572, 0.17412764096364033)

Prices and Quantity are have pearson correlation coefficient as -0.07129043223056572 with p-value as 0.17412764096364033.

In [27]:
# start index 2733532
# end index  2733897
trainX = df2["Modal Prices(in Rs/quintals)"]
trainY = df2["Arrival_Tonnes_Calc"]

In [41]:
#shifting the Price column down by 2
Xtrainshift = trainX.shift(2)
Xtrainshift.head()

20114  2733532      NaN
       2733533      NaN
       2733534    600.0
       2733535    600.0
       2733536    600.0
Name: Modal Prices(in Rs/quintals), dtype: float64

In [43]:
Xtrainshift.tail()
#the last two values are lost after a shift by 2

20114  2733893    600.0
       2733894    450.0
       2733895    555.0
       2733896    450.0
       2733897    600.0
Name: Modal Prices(in Rs/quintals), dtype: float64

In [46]:
len(trainX)

365

In [53]:
#taking lags of prices from 1 to 100 finding the pearson correlation coeffcient 
for i in range(1,100) :
    Xtrainshift = trainX.shift(i)
    Ycor = trainY[i:]
    Xcor = Xtrainshift[i:]
    print("With Shift: ", i  )
    print(pearsonr(Xcor, Ycor))

With Shift:  1
(-0.04763325546848995, 0.3648441365615198)
With Shift:  2
(-0.05108837096463695, 0.33172705952186643)
With Shift:  3
(-0.026973200505833874, 0.6089881793101588)
With Shift:  4
(-0.028394329241349076, 0.5907637002348631)
With Shift:  5
(-0.02608007474408859, 0.6218729740623117)
With Shift:  6
(-0.00981293220496705, 0.8530058455514012)
With Shift:  7
(0.005833927673542114, 0.9124109680290473)
With Shift:  8
(0.005315906501714883, 0.920273231236157)
With Shift:  9
(-0.009495028294012114, 0.8583100634947558)
With Shift:  10
(0.016616879503164914, 0.755037986912179)
With Shift:  11
(0.0020710081147302687, 0.969027511639594)
With Shift:  12
(0.017981808837783032, 0.7363608244832685)
With Shift:  13
(0.02746453797193947, 0.6075705159486)
With Shift:  14
(0.06133622773872087, 0.25174791142448794)
With Shift:  15
(0.07679777880637574, 0.1516483801745481)
With Shift:  16
(0.044409377758703274, 0.4081988749154306)
With Shift:  17
(0.05633815463615021, 0.29462666703078594)
With Shift:  18
(0.060467078143052744, 0.2612928162091233)
With Shift:  19
(0.09303852757756464, 0.0839695649290445)
With Shift:  20
(0.09150330006476089, 0.08969820095164047)
With Shift:  21
(0.1078498668245164, 0.04562241753967765)
With Shift:  22
(0.14664511858582938, 0.006514092306254737)
With Shift:  23
(0.14091254137627662, 0.009069545586716982)
With Shift:  24
(0.10660892774820314, 0.049178528396195735)
With Shift:  25
(0.15604730845036222, 0.003920804107234242)
With Shift:  26
(0.20886559840563693, 0.00010696073280596784)
With Shift:  27
(0.18276897306998727, 0.0007349428777013669)
With Shift:  28
(0.21582648539875304, 6.482997084772151e-05)
With Shift:  29
(0.20441424747484402, 0.00016134419712055865)
With Shift:  30
(0.23412279333819516, 1.4947921990195233e-05)
With Shift:  31
(0.21524057283994366, 7.324384027420429e-05)
With Shift:  32
(0.20236921421096293, 0.00020117104398558513)
With Shift:  33
(0.23022960343136645, 2.2732953283353116e-05)
With Shift:  34
(0.24069526516331632, 9.521440641777546e-06)
With Shift:  35
(0.30217526605456874, 2.1447078442656356e-08)
With Shift:  36
(0.21885237277777417, 6.2505249286168e-05)
With Shift:  37
(0.2637650316172839, 1.2672943690785764e-06)
With Shift:  38
(0.3024737889484279, 2.405512958431543e-08)
With Shift:  39
(0.2550651426444905, 3.0859023875070117e-06)
With Shift:  40
(0.23318436916218066, 2.1735398413574722e-05)
With Shift:  41
(0.2460456483626253, 7.4372391687814e-06)
With Shift:  42
(0.33805033605689083, 4.474458049595414e-10)
With Shift:  43
(0.2873883851702503, 1.5370210471344734e-07)
With Shift:  44
(0.32531910832789596, 2.3874759345911315e-09)
With Shift:  45
(0.28048914264614844, 3.384692554172186e-07)
With Shift:  46
(0.3315521162677244, 1.2708393851802964e-09)
With Shift:  47
(0.2925460090005153, 1.0784656057015939e-07)
With Shift:  48
(0.26757277028520926, 1.340883605786119e-06)
With Shift:  49
(0.29959344241626357, 5.641411655602629e-08)
With Shift:  50
(0.32801321290670865, 2.4563473776932782e-09)
With Shift:  51
(0.3183118733992812, 7.986605840097372e-09)
With Shift:  52
(0.23256739040584407, 3.250182747838671e-05)
With Shift:  53
(0.29860863649758274, 7.596094290904074e-08)
With Shift:  54
(0.34764293946148256, 2.9050352448833106e-10)
With Shift:  55
(0.34761298607863333, 3.114687152935723e-10)
With Shift:  56
(0.29572144276252477, 1.1826201503840365e-07)
With Shift:  57
(0.32785580879860815, 3.7659535453552995e-09)
With Shift:  58
(0.3392006813119711, 1.0550620413533207e-09)
With Shift:  59
(0.32044647007955535, 9.779675535394514e-09)
With Shift:  60
(0.3251191724136724, 6.123964730940032e-09)
With Shift:  61
(0.33579777568974845, 1.901516320270346e-09)
With Shift:  62
(0.36815663829159995, 3.695867348151393e-11)
With Shift:  63
(0.34857926003178485, 4.694431814470436e-10)
With Shift:  64
(0.3623307162790623, 9.074628167714192e-11)
With Shift:  65
(0.40464482683548214, 3.0153983521149584e-13)
With Shift:  66
(0.44981623159533424, 2.6729437122926977e-16)
With Shift:  67
(0.41388873153439426, 9.22066821866392e-14)
With Shift:  68
(0.38222651228088517, 9.097603897029277e-12)
With Shift:  69
(0.41598563358051743, 8.156006234622393e-14)
With Shift:  70
(0.39419163534202095, 2.0898800311327207e-12)
With Shift:  71
(0.396673561917527, 1.6119933744980096e-12)
With Shift:  72
(0.3787317786704481, 1.9919082918255393e-11)
With Shift:  73
(0.372410189533267, 4.883430798818709e-11)
With Shift:  74
(0.3319530758488763, 6.486030933518591e-09)
With Shift:  75
(0.3253169356468111, 1.419479196812975e-08)
With Shift:  76
(0.31961144458928614, 2.7561629752674744e-08)
With Shift:  77
(0.34373526529719844, 2.078318179588062e-09)
With Shift:  78
(0.36397845608900004, 2.0345306684227584e-10)
With Shift:  79
(0.350478259865031, 1.0902808607239336e-09)
With Shift:  80
(0.3195555743259393, 3.4617394926331336e-08)
With Shift:  81
(0.3620492731523843, 3.193218155997979e-10)
With Shift:  82
(0.396042013385532, 4.584052478314291e-12)
With Shift:  83
(0.39368617468629247, 6.8476328529799444e-12)
With Shift:  84
(0.4029914957887608, 2.134399708337626e-12)
With Shift:  85
(0.4392886770319976, 1.224166716152443e-14)
With Shift:  86
(0.4098067582886648, 1.0037703831714197e-12)
With Shift:  87
(0.45500249308841906, 1.302943027518699e-15)
With Shift:  88
(0.45702003796497903, 1.0604168583528974e-15)
With Shift:  89
(0.44306147293506987, 1.0656153829901969e-14)
With Shift:  90
(0.45545942434081754, 1.7251036896241197e-15)
With Shift:  91
(0.41225484995165457, 1.1469768047808557e-12)
With Shift:  92
(0.38515267033120654, 4.381479697854931e-11)
With Shift:  93
(0.3555269489819114, 1.5915262858803767e-09)
With Shift:  94
(0.33325520896038274, 1.8849086382327998e-08)
With Shift:  95
(0.32542773456732055, 4.445093232345262e-08)
With Shift:  96
(0.3336258101169579, 2.0482130024522652e-08)
With Shift:  97
(0.3186781165045797, 9.69934427012994e-08)
With Shift:  98
(0.30530809380481544, 3.630937992876049e-07)
With Shift:  99
(0.3199175966208061, 9.609224435699793e-08)